.App {
  text-align: center;
  height: 100vh;
}

.chat_history {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message_me {
  color: green;
  align-self: flex-start;
}

.message_other {
  color: red;
  align-self: flex-end;
}

.video_Main {
  width: 100%;
  height: 200px;
  margin: 20px 0px;
}

.btn_span {
  padding-right: 5px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload_files {
  margin-top: 10px !important;
  justify-content: center;
}

.callAction_btn {
  display: flex;
  justify-content: center;
}

.txt_label {
  margin-left: 5px !important;
}

.card_c_ {
  margin: 20px auto !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
